<h1 class="mt-4">Chihuahua Hats</h1>
<%= form_with url: chihuahuaindex_path, method: :get, local: true, class: 'form-inline my-3 justify-content-center' do |form| %>
  <%= text_field_tag :query, params[:query], placeholder: "Search for a Chihuahua hat", class: 'form-control mr-2' %>
  <%= submit_tag "Search", class: 'btn btn-primary' %>
<% end %>

<div class="container">
  <div class="row">
    <% @chihuahuahats.each do |hat| %>
      <div class="col-md-4 mb-4">
        <%= link_to chihuahuahat_path(hat) do %>
          <div class="card">
            <%= image_tag hat.image, class: "card-img-top" if hat.image.attached? %>
            <div class="card-body">
              <h5 class="card-title"><%= hat.title %></h5>
              <p class="card-text"><%= number_to_currency(hat.price) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
