<<<<<<< HEAD
<%# app/views/chihuahuahats/index.html.erb %>

<h1 class="my-4 text-center">chihuahua Hats</h1>

<%= form_with url: chihuahuaindex_path, method: :get, local: true, class: 'mb-4' do |form| %>
  <div class="form-group">
    <%= text_field_tag :query, params[:query], placeholder: "Search for a chihuahua hat", class: 'form-control' %>
  </div>
=======
<h1 class="mt-4">Chihuahua Hats</h1>
<%= form_with url: chihuahuaindex_path, method: :get, local: true, class: 'form-inline my-3 justify-content-center' do |form| %>
  <%= text_field_tag :query, params[:query], placeholder: "Search for a Chihuahua hat", class: 'form-control mr-2' %>
>>>>>>> cda83f03fc9d212f657ef9cb3452c90dc31a8d2a
  <%= submit_tag "Search", class: 'btn btn-primary' %>
<% end %>

<div class="container">
  <div class="row">
    <% @chihuahuahats.each do |hat| %>
<<<<<<< HEAD
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= link_to chihuahuahat_path(hat) do %>
                <%= image_tag hat.image, class: "card-img" if hat.image.attached? %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= hat.title %></h5>
                <p class="card-text">Price: <%= number_to_currency(hat.price) %></p>
                <p class="card-text">Color: <%= hat.colour %></p>
                <p class="card-text">Material: <%= hat.material %></p>
                <% if current_user&.isvendor == 'y' %>
                  <%= link_to 'Edit', edit_chihuahuahat_path(hat), class: "btn btn-primary mr-2" %>
                  <%= button_to "Delete", chihuahuahat_path(hat), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
=======
      <div class="col-md-4 mb-4">
        <%= link_to chihuahuahat_path(hat) do %>
          <div class="card">
            <%= image_tag hat.image, class: "card-img-top" if hat.image.attached? %>
            <div class="card-body">
              <h5 class="card-title"><%= hat.title %></h5>
              <p class="card-text"><%= number_to_currency(hat.price) %></p>
            </div>
          </div>
        <% end %>
>>>>>>> cda83f03fc9d212f657ef9cb3452c90dc31a8d2a
      </div>
    <% end %>
  </div>
</div>
<<<<<<< HEAD

<% if current_user&.isvendor == 'y' %>
  <div class="my-4">
    <%= link_to 'New Hat', new_chihuahuahat_path, class: "btn btn-primary" %>
  </div>
<% end %>
=======
>>>>>>> cda83f03fc9d212f657ef9cb3452c90dc31a8d2a
