<div class="container">
  <div class="row">
    <div class="col-md-6">
  <% if @hat.image.attached? %>
    Image is attached
    <%= image_tag @hat.image, class: "img-fluid" %>
  <% else %>
    No image attached
  <% end %>
</div>
    <div class="col-md-6">
      <h1>Edit Doberman Hat</h1>

      <%= bootstrap_form_with model: @hat, url: dobermanhat_path(@hat), method: :patch, data: { turbo: false } do |f| %>
        <!-- Existing form fields -->
        <%= f.text_field :title %>
        <%= f.file_field :image %>
        <%= f.number_field :price %>
        <%= f.text_field :description %>
        <%= f.text_field :colour %>
        <%= f.text_field :material %>
        <%= f.text_field :category %>
        <%= f.submit %>
      <% end %>

      <%= link_to 'Back to list', dobermanindex_path %>
    </div>
  </div>
</div>

