<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>New poodle Hat</h1>
      <%= bootstrap_form_with model: @hat, url: new_poodlehat_path(@hat), method: :post, data: { turbo: false } do |f| %>
        <%= f.text_field :title %>
        <%= f.file_field :image %>
        <%= f.number_field :price, step: '0.01', class: 'form-control' %>
        <%= f.text_field :description %>
        <%= f.text_field :colour %>
        <%= f.text_field :material %>
        <%= f.text_field :category %>
        <%= f.number_field :quantity, min: 1 %>
        <%= f.submit %>
      <% end %>

      <%= link_to 'Back to list', poodleindex_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
