<!-- app/views/hats/show.html.erb -->
<h1><%= @hat.title %></h1>
<% if @hat.image.attached? %>
  <%= image_tag @hat.image %>
<% end %>
<p>Price : <%= number_to_currency(@hat.price) %></p>
<p>Description : <%= @hat.description %></p> 
<p>Category : <%= @hat.category %></p>

 <td><%= link_to "Add to cart" , poodle_add_to_cart_path%></td>
  <td><%= link_to "Back", poodleindex_path %></td>
