<div class="container mt-4">
  <h1 class="text-center mb-4"><%= @hat.title %></h1>

  <% if @hat.image.attached? %>
    <div class="row justify-content-center mb-4">
      <div class="col-md-4">
        <div class="d-flex justify-content-center">
          <%= image_tag @hat.image, class: 'img-fluid' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <p><strong>Price:</strong> <%= number_to_currency(@hat.price) %></p>
      <p><strong>Description:</strong> <%= @hat.description %></p>
      <p><strong>Color:</strong> <%= @hat.colour %></p>
      <p><strong>Material:</strong> <%= @hat.material %></p>
      <p><strong>Category:</strong> <%= @hat.category %></p>
      <% if current_user&.isvendors == 'y' %>
        <p><strong>Quantity:</strong> <%= @hat.quantity %></p>
        <% if @hat.quantity.present? && @hat.quantity < 5 %>
            <span class="alert alert-warning p-1" role="alert"> Only <%= @hat.quantity %> left!</span>
              <% end %>
          </p>
      <% else %>
          <% if @hat.quantity.present? && @hat.quantity < 5 %>
           <span class="alert alert-warning p-1" role="alert"> Only <%= @hat.quantity %> left!</span>
            <% end %>
       <% end %>
    </div>
  </div>
  <div class="my-3"">
  <%= link_to "AddtoCart", poodle_add_to_cart_path, class: "btn btn-secondary" %>
    <%= link_to "Back", poodleindex_path, class: "btn btn-secondary" %>
  </div>
</div>


