<%# app/views/home/index.html.erb %>

<h1>Welcome to the Dog Hat Store!</h1>

<h1>Hats Collection</h1>

<%= form_with(url: home_path, method: :get, local: true) do |form| %>
  <%= form.label :category, 'Filter by Category:' %>
  <%= form.select :category, Hat.distinct.pluck(:category), include_blank: true %>
  <%= form.submit 'Filter Hats' %>
<% end %>



<div class="hats-container">
  <% @hats.each do |hat| %>
    <% first_part_of_title = hat.title.split(' ').first.downcase %>
    <% path_helper = "#{first_part_of_title}index_path" %>
     <%= link_to send(path_helper) do %>
      <div class="hat">
        <% if hat.image.attached? %>
          <%= image_tag hat.image, class: "hat-image" %>
        <% end %>
        <h3><%= hat.title %></h3>
        <p>Category: <%= hat.category %></p>

      </div>
       <% end %>
   
  <% end %>
</div>




