<div class="container mt-4">
  <h1 class="text-center">Submit New Hat</h1>

  <%= form_with(model: @hat, url: custom_path, local: true, class: 'mt-4', multipart: true) do |form| %>
    <%= form.hidden_field :price, value: '15.99' %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>


     <div class="mb-3">
    <%= form.label :image, class: 'form-label' %>
    <%= form.file_field :image, class: 'form-control', id: 'image-upload', direct_upload: true %>
    <img id="image-preview" class="mt-3" style="max-width: 100%; height: auto; display: none;" />
  </div>

    <div class="text-center">
      <%= form.submit 'Submit', class: 'btn btn-success' %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById('image-preview').src = e.target.result;
          document.getElementById('image-preview').style.display = 'block';
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    document.getElementById('image-upload').addEventListener('change', function() {
      readURL(this);
    });
  });
</script>

