<div class="container mt-4">
  <h1 class="text-center">Submit New Hat</h1>

  <%= form_with(model: @hat, url: custom_path, local: true, class: 'mt-4', multipart: true) do |form| %>
    <%= form.hidden_field :price, value: '15.99' %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

  <div class="mb-3">
      <label class="form-label">Color</label>
      <%= radio_button_tag 'color', 'Red', false, class: 'option-group color-option' %> Red
      <%= radio_button_tag 'color', 'Green', false, class: 'option-group color-option' %> Green
      <%= radio_button_tag 'color', 'Blue', false, class: 'option-group color-option' %> Blue
    </div>

  <div class="mb-3">
      <label class="form-label">Size</label>
      <%= radio_button_tag 'size', 'Small', false, class: 'option-group size-option' %> Small
      <%= radio_button_tag 'size', 'Medium', false, class: 'option-group size-option' %> Medium
      <%= radio_button_tag 'size', 'Large', false, class: 'option-group size-option' %> Large
    </div>

    <div class="mb-3">
      <label class="form-label">Material</label>
      <%= radio_button_tag 'material', 'Cotton', false, class: 'option-group material-option' %> Cotton
      <%= radio_button_tag 'material', 'Wool', false, class: 'option-group material-option' %> Wool
      <%= radio_button_tag 'material', 'Suede', false, class: 'option-group material-option' %> Suede
      <%= radio_button_tag 'material', 'Synthetic', false, class: 'option-group material-option' %> Synthetic
    </div>

    


  <div class="mb-3">
    <%= form.label :image, class: 'form-label' %>
    <%= form.file_field :image, class: 'form-control', id: 'image-upload', direct_upload: true %>
    <img id="image-preview" class="mt-3" style="max-width: 100%; height: auto; display: none;" />
  </div>

    <div class="text-center">
      <%= form.submit 'Submit', class: 'btn btn-success' %>
    </div>
  <% end %>
</div>


