<div class="container mt-4">
  <h1 class="text-center">Submit New Hat</h1>

  <%= form_with(model: @hat, url: custom_path, local: true, class: 'mt-4', multipart: true) do |form| %>
    <%= form.hidden_field :price, value: '15.99' %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

  <div class="mb-3">
  <label class="form-label">Color</label>
  <div class="form-check">
    <%= radio_button_tag 'color', 'Red', false, id: 'colorRed', class: 'form-check-input' %>
    <label class="form-check-label" for="colorRed">Red</label>
  </div>
  <div class="form-check">
    <%= radio_button_tag 'color', 'Green', false, id: 'colorGreen', class: 'form-check-input' %>
    <label class="form-check-label" for="colorGreen">Green</label>
  </div>
  <div class="form-check">
    <%= radio_button_tag 'color', 'Blue', false, id: 'colorBlue', class: 'form-check-input' %>
    <label class="form-check-label" for="colorBlue">Blue</label>
  </div>
</div>

<div class="mb-3">
  <label class="form-label">Size</label>
  <div class="form-check">
    <%= radio_button_tag 'size', 'Small', false, id: 'sizeSmall', class: 'form-check-input' %>
    <label class="form-check-label" for="sizeSmall">Small</label>
  </div>
  <div class="form-check">
    <%= radio_button_tag 'size', 'Medium', false, id: 'sizeMedium', class: 'form-check-input' %>
    <label class="form-check-label" for="sizeMedium">Medium</label>
  </div>
  <div class="form-check">
    <%= radio_button_tag 'size', 'Large', false, id: 'sizeLarge', class: 'form-check-input' %>
    <label class="form-check-label" for="sizeLarge">Large</label>
  </div>
</div>

<div class="mb-3">
  <label class="form-label">Material</label>
  <div class="form-check">
    <%= radio_button_tag 'material', 'Cotton', false, id: 'materialCotton', class: 'form-check-input' %>
    <label class="form-check-label" for="materialCotton">Cotton</label>
  </div>
  <div class="form-check">
    <%= radio_button_tag 'material', 'Wool', false, id: 'materialWool', class: 'form-check-input' %>
    <label class="form-check-label" for="materialWool">Wool</label>
  </div>
  <div class="form-check">
    <%= radio_button_tag 'material', 'Suede', false, id: 'materialSuede', class: 'form-check-input' %>
    <label class="form-check-label" for="materialSuede">Suede</label>
  </div>
  <div class="form-check">
    <%= radio_button_tag 'material', 'Synthetic', false, id: 'materialSynthetic', class: 'form-check-input' %>
    <label class="form-check-label" for="materialSynthetic">Synthetic</label>
  </div>
</div>


    


  <div class="mb-3">
    <%= form.label :image, class: 'form-label' %>
    <%= form.file_field :image, class: 'form-control', id: 'image-upload', direct_upload: true %>
    <img id="image-preview" class="mt-3" style="max-width: 100%; height: auto; display: none;" />
  </div>

    <div class="text-center">
      <%= form.submit 'Submit', class: 'btn btn-success' %>
    </div>
  <% end %>
</div>


