<div class="container mt-4">
  <h1><%= @hat.title %></h1>
  <%= image_tag @hat.image, class: "img-fluid" if @hat.image.attached? %>
  <p><%= @hat.description %></p>
  <p><%= number_to_currency(@hat.price) %></p>

  <%= button_to 'Add to Cart', add_trade_item_to_cart_path(id: @hat.id), method: :post, class: 'btn btn-success' %>
  <%= button_to "Delete", trade_show_path(@hat.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

  <%= link_to 'Back to Trade Hats', trade_path, class: 'btn btn-secondary' %>
</div>
