<%= bootstrap_form_with model: @hat, method: :post,  url: home_path, data: { turbo: false } do |form| %>

  <!-- ... other form fields ... -->
<h1>Upload Image</h1>
  <%= form.file_field :image, id: 'hat-image', onchange: 'toggleAttributeRequirements()' %>

<h1>Or</h1>

<h1>manually set attributes</h1>

  <div id="manual-attributes">
    <%= form.select :category, ['Large Dog', 'Medium Dog', 'Small Dog'], {}, { id: 'category-select', required: true } %>
    <%= form.select :size, ['Large', 'Medium', 'Small'], {}, { id: 'size-select', required: true } %>
    <%= form.select :color, ['Red', 'Blue', 'Green', 'Cream', 'White', 'Black'], {}, { id: 'color-select', required: true } %>
    <%= form.select :material, ['Cotton', 'Wool', 'Suede'], {}, { id: 'material-select', required: true } %>
  </div>

  <%= form.submit "Create Hat" %>
<% end %>

<script>
  function toggleAttributeRequirements() {
    const imageUploaded = document.getElementById('hat-image').files.length > 0;
    document.getElementById('category-select').required = !imageUploaded;
    document.getElementById('size-select').required = !imageUploaded;
    document.getElementById('color-select').required = !imageUploaded;
    document.getElementById('material-select').required = !imageUploaded;
  }
  function toggleManualAttributes(imageInput) {
    const isImageSelected = imageInput.value.length > 0;
    document.getElementById('category-select').disabled = isImageSelected;
    document.getElementById('size-select').disabled = isImageSelected;
    document.getElementById('color-select').disabled = isImageSelected;
    document.getElementById('material-select').disabled = isImageSelected;
  }
</script>


<script>
  
</script>
